.grid-container {
    overflow: hidden;
    border: 2px solid gray;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 可能需要这一行以垂直居中内容 */
}

.grid {
    display: grid;
    gap: 0;
    width: 0;
    height: 0;
    transform-origin: center center; /* 初始缩放原点为中心 */
    transition: transform 0.2s ease; /* 添加缩放过渡效果 */
}

.cell {
    width: 10px; /* 控制每个格子的宽度 */
    height: 10px; /* 控制每个格子的高度 */
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple {
    background-color: purple;
    border: 1px solid purple;
}